<div class="row">
  <div class="col-12 section-title">
    <h2>About Me</h2>
  </div>
</div>
<div class="row justify-content-center my-history">
  <div class="col-md-12 col-lg-8 history">
    <div class="text-center">
      <p>
        Hello, I’m a <strong>Full Stack Ruby on Rails Web Developer</strong> based in Medellin, Colombia. I’m currently studying a bachelor degree on system engineering at EAFIT university and recently graduated from MakeitReal’s online coding bootcamp, in which I became skilled on
        Ruby, RoR, JavaScript and discovered my passion for the creation of websites and web apps.
        </br></br>
        I would like to join a team from which I can continue to learn and share all the knowledge I’ve gained so far.</br></br>
        I want to put in practice everything learned in my bachelor, in order to be a better web developer and even learn to develop mobile applications.
      </p>
    </div>
  </div>
  <div class="col-md-12 col-lg-4 photo text-center">
    <%= image_tag "personal/me.JPG", width: "100%" %>
  </div>
</div>

<div class="personal-info-title">
  <span>Personal Information</span>  
</div>
<div class="row personal-info">
  <div class="col-md-12 col-lg-4 text-center">
    <h3>Name</h3>
    <span>Esteban Silva Chaparro</span>
  </div>
  <div class="col-md-12 col-lg-4 text-center">
    <h3>Email</h3>
    <span>esilva1995@gmail.com</span>
  </div>
  <div class="col-md-12 col-lg-4 text-center">
    <h3>Age</h3>
    <span>22 Years</span>
  </div>
</div>

<div class="education-title">
  <span>Education</span>  
</div>
<div class="row justify-content-center education">
  <div class="col-md-12 col-lg-6 make-it text-center">
    <%= link_to "Make It Real Camp", "https://www.makeitreal.camp/", class:"title", target: :_blank %>
    <span>Full Web development online coding bootcamp <br> Graduated in 2017</span>
    <p>
      For​ ​over​​ a ​year I ​immersed​​ myself​ in​​ the​​ process​ of​ learning​ how​ to​ develop web​ apps using
      Ruby,​ RoR,​ HTML5,​ CSS3,​ JavaScript,​ Postgres,​ GitHub,​ real​ time,​ responsive​ design,​ ​ testing techniques,​ deploy​ to​ Heroku​ and​ Amazon​ WEB​ services.
      I’m​ currently​ still involved​ in​ the​ program​ as I was​ granted​ a scholarship​ to​ learn​ ​ AngularJS, React​ and​ Redux.
    </p>
    <%= image_tag "education/make-it.png" %>
  </div>
  <div class="col-md-12 col-lg-6 eafit text-center">
    <%= link_to "EAFIT University", "http://www.eafit.edu.co/", class:"title", target: :_blank %>
    <span>Systems engineering student <br> Expected Graduation in 2019.</span>
    <p>
      During my barchelor I have learned multiple programing languages like Java, C++, Ruby, Assembler, MYSQL.
    </p>
    <%= image_tag "education/eafit.png" %>
  </div>
</div>
