<div class="presentation">
  <div class="text-center">
    <span>Esteban Silva, Full Stack Developer.</span>
  </div>
</div>
<div class="row justify-content-center my-info">
  <div class="col-md-6 col-lg-3 photo text-center">
    <%= image_tag "personal/me.JPG", width: "94%" %>
  </div>
  <div class="col-md-12 col-lg-6 description">
    <div>
      <p>
        I am a Full Stack Web Developer graduated of Make It Real, currently studying computer engineering in EAFIT university in Medellin, Colombia. Thanks to Make It Real I have discovered that my passion is creat web sites, web applications ,and everything related. For this reason day by day I learn more about all the technologies that are related to web development, in order to be better every day.
      </p>
    </div>
  </div>
</div>
<div class="row justify-content-center skills">
  <div class="col-md-12 col-lg-6">
    <span class="title">Skills:</span>
    <div class="row justify-content-center">
      <div class="col-3 text-center">
        <%= image_tag "skills/html5@2x.png", width: "65%" %>
        <span>HTML 5</span>
      </div>
      <div class="col-3 text-center">
        <%= image_tag "skills/css3@2x.png", width: "65%" %>
        <span>CSS 3</span>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3 text-center">
        <%= image_tag "skills/rails@2x.png", width: "65%" %>
        <span>Ruby on Rails</span>
      </div>
      <div class="col-3 text-center">
        <%= image_tag "skills/js@2x.png", width: "65%" %>
        <span>JavaScript</span>
      </div>
      <div class="col-3 text-center">
        <%= image_tag "skills/jquery@2x.png", width: "65%" %>
        <span>jQuery</span>
      </div>
      <div class="col-3 text-center">
        <%= image_tag "skills/restapi@2x.png", width: "65%" %>
        <span>Rest Api</span>
      </div>
    </div>
  </div>
</div>