<div id="<%= page.id %>-carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="desc">
      <span>
        <%= page.description %><br>
        <strong>Tools Used: </strong><%= page.languages.join(', ') %>
      </span>
    </div>
    <div class="carousel-item active">
      <%= image_tag "pages/#{page.name.downcase}/0_ss.jpg", width: "100%" %>
    </div>
    <% (1..page.screenshots-1).each do |number| %>
      <div class="carousel-item">
        <%= image_tag "pages/#{page.name.downcase}/#{number}_ss.jpg", width: "100%" %>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" id="change" href="#<%= page.id %>-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" id="change" href="#<%= page.id %>-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>