<h1>Send Me A Message!</h1>

<hr class="style1">

<%= form_for @contact, remote: true do |f| %>
  <div class="col-12 inputfx">
    <%= f.text_field :name, class:"effect", autocomplete:"off" %>
    <%= f.label :name %>
    <span class="focus-bg"></span>
  </div>

  <div class="col-12 inputfx">
    <%= f.email_field :email, class:"effect", autocomplete:"off" %>
    <%= f.label :email %>
    <span class="focus-bg"></span>
  </div>

  <div class="col-12 inputfx">
    <%= f.text_area :message, class:"effect", rows:"3" %>
    <%= f.label :message %>
    <span class="focus-bg"></span>
  </div>

  <div class="hidden">
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
  </div>

  <div class="buttonfx text-center">
    <button class="bouncein" type="submit">Send Message</button>
  </div>
<% end %>

<script>
  $(".inputfx").on('focusout', '.effect', function(){
    if($(this).val() != "") {
      $(this).addClass("has-content");
    }else{
      $(this).removeClass("has-content");
    }
  });
</script>

