<span class="portfolio-title">Portfolio</span>

<% @pages.each do |page| %>
  <div class="row justify-content-center page">
    <div class="col-md-12 col-lg-6 images">
      <%= render "carousel", page: page %>
    </div>
    <div class="col-md-12 col-lg-3 description">
      <h1 class="title"><%= page.name %></h1>
      <%= link_to "Go to Website.", page.url, target: :_blank, class:"go-to" %>
      <p class="about-page"><%= page.description %></p>
      
      <div class="languages">
        <span>Languages:</span>
        <ul>
          <% page.languages.each do |language| %>
            <li><%= language %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<script>
  $('.portfolio .images').hover(
    function() {
      $(this).addClass('active').parent().find('.description').addClass('active');
    },
    function() {
      $(this).removeClass('active').parent().find('.description').removeClass('active');
    }
  );

  $('.portfolio .description').hover(
    function() {
      $(this).addClass('active').parent().find('.images').addClass('active');
    },
    function() {
      $(this).removeClass('active').parent().find('.images').removeClass('active');
    }
  );
</script>