<div class="row">
  <div class="col-12 section-title">
    <h2>Portfolio</h2>
  </div>
</div>
<div class="row pages">
  <% @pages.each do |site| %>
    <div class="col-md-12 col-lg-6 site" id="<%= site.id %>">
      <%= image_tag "pages/#{site.name.downcase}/0_ss.jpg", width: "100%" %>
      <div class="center-objects">
        <div class="title">
          <span><%= site.name %></span>
        </div>
        <div class="btnfx-sites buttons-page">
          <a href="#" class="btn" data-toggle="modal" data-target="#modal-<%= site.id %>">
            <div>
              <span class='modal-link'>Show More <%= fa_icon "search-plus" %></span>
            </div>  
          </a>
          <%= link_to "<div><span class='page-lk'>Visit Page #{fa_icon "external-link"}</span></div>".html_safe, "#{site.url}", class:"btn", target: "_blank" %>
        </div>
      </div>
    </div>
    <%= render "images_modal", site: site %>
  <% end %>
</div>