<div class="row">
  <div class="col-12 section-title">
    <h2>Skills</h2>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/rails@2x.png", height:"100%;" %>
    </div>
    <span>Ruby on Rails</span>
    <div class="progressbar">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated green" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>  
  </div>
  <div class="col-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/bootstrap@2x.png", height:"100%;" %>
    </div>
    <span>Bootstrap</span>
    <div class="progressbar">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated green" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>  
  </div>
  <div class="col-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/html5@2x.png", height:"100%;" %>
    </div>
    <span>HTML5</span>
    <div class="progressbar">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated green" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="col-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/css3@2x.png", height:"100%;" %>
    </div>
    <span>CSS 3</span>
    <div class="progressbar">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated green" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>  
  </div>
  <div class="col-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/js@2x.png", height:"100%;" %>
    </div>
    <span>JavaScript</span>
    <div class="progressbar">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated yellow" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>  
  </div>
  <div class="col-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/jquery@2x.png", height:"100%;" %>
    </div>
    <span>jQuery</span>
    <div class="progressbar">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated yellow" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>  
  </div>
  <div class="col-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/restapi@2x.png", height:"100%;" %>
    </div>
    <span>Rest Api</span>
    <div class="progressbar">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated green" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>  
  </div>
  <div class="col-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/testing@2x.png", height:"100%;" %>
    </div>
    <span>Testing</span>
    <div class="progressbar">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated yellow" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>  
  </div>
  <div class="col-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/git@2x.png", height:"100%;" %>
    </div>
    <span>Git</span>
    <div class="progressbar">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated yellow" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>  
  </div>
  <div class="col-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/github@2x.png", height:"100%;" %>
    </div>
    <span>GitHub</span>
    <div class="progressbar">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated yellow" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>  
  </div>
  <div class="col-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/angularjs@2x.png", height:"100%;" %>
    </div>
    <span>AngularJS</span>
    <div class="progressbar">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated red" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>  
  </div>
  <div class="col-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/reactjs@2x.png", height:"100%;" %>
    </div>
    <span>ReactJS</span>
    <div class="progressbar">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated red" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>  
  </div>
</div>