<div class="row">
  <div class="col-12 section-title">
    <h2>Skills</h2>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12 col-lg-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/reactjs@2x.png", height:"100%;" %>
    </div>
    <span>React</span>
  </div>

  <div class="col-12 col-lg-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/redux@2x.png", height:"100%;" %>
    </div>
    <span>Redux</span>
  </div>

  <div class="col-12 col-lg-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/nodejs@2x.png", height:"100%;" %>
    </div>
    <span>NodeJS</span>
  </div>

  <div class="col-12 col-lg-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/express@2x.png", height:"100%;" %>
    </div>
    <span>ExpressJS</span>
  </div>

  <div class="col-12 col-lg-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/rails@2x.png", height:"100%;" %>
    </div>
    <span>Ruby on Rails</span>
  </div>

  <div class="col-12 col-lg-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/mongo@2x.png", height:"100%;" %>
    </div>
    <span>MongoDB</span>
  </div>

  <div class="col-12 col-lg-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/websockets@2x.png", height:"100%;" %>
    </div>
    <span>WebSockets</span>
  </div>

  <div class="col-12 col-lg-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/bootstrap@2x.png", height:"100%;" %>
    </div>
    <span>Bootstrap</span>
  </div>

  <div class="col-12 col-lg-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/html5@2x.png", height:"100%;" %>
    </div>
    <span>HTML5</span>
  </div>

  <div class="col-12 col-lg-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/css3@2x.png", height:"100%;" %>
    </div>
    <span>CSS 3</span>
  </div>

  <div class="col-12 col-lg-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/js@2x.png", height:"100%;" %>
    </div>
    <span>JavaScript</span>
  </div>

  <div class="col-12 col-lg-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/jquery@2x.png", height:"100%;" %>
    </div>
    <span>jQuery</span>
  </div>

  <div class="col-12 col-lg-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/restapi@2x.png", height:"100%;" %>
    </div>
    <span>Rest Api</span>
  </div>

  <div class="col-12 col-lg-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/graphql@2x.png", height:"100%;" %>
    </div>
    <span>GraphQL</span>
  </div>

  <div class="col-12 col-lg-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/testing@2x.png", height:"100%;" %>
    </div>
    <span>Testing</span>
  </div>

  <div class="col-12 col-lg-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/git@2x.png", height:"100%;" %>
    </div>
    <span>Git</span>
  </div>

  <div class="col-12 col-lg-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/github@2x.png", height:"100%;" %>
    </div>
    <span>GitHub</span>
  </div>

  <div class="col-12 col-lg-3 text-center skill">
    <div class="image">
      <%= image_tag "skills/heroku@2x.png", height:"100%;" %>
    </div>
    <span>Heroku</span>
  </div>

  <h5 class="text-center message">I’m constantly pushing myself to learn new technologies and improve my current skill set. </h5>
</div>
