<!DOCTYPE html>
<html>
  <head>
    <title>eSilva - Portafolio</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro">
  </head>

  <body data-spy="scroll" data-target="#navbar" data-offset="110">
    <%= render 'layouts/navbar' %>
    <div class="alert-message"></div>
    <%= yield %>
  </body>
</html>
